$color-primary: #9c3f5e;
$color-background-dark-1: #18191d;
$color-background-dark-2: #2e2833;
$color-black: #000;
$color-white: #fff;
$duration-button: 130ms;
$border-radius-1: 25px;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-lato: 'Lato', sans-serif;

html {
  font-size: 16px;
}

body {
  background-color: $color-background-dark-1;
  overflow: hidden;
  height: 100vh;
  font-family: $font-family-roboto;
  background: linear-gradient(rgba(10,10,10,.6),rgba(0,0,0,.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px),
  url("/img/background.jpg");

  background-size: cover;
  background-position:center;
}



@mixin make-font-body() {
  font-family: $font-family-roboto;
  font-size: 1rem;
}

@mixin make-primary-button($stack-space: 0.75em 0.5em, $inset-space: 0.25em 2em) {
  text-underline: none;
  font-weight: normal;
  color: $color-white;
  text-decoration: none;
  display: inline-block;
  margin: $stack-space;
  background-color: $color-primary;
  border-radius: $border-radius-1;
  box-shadow: none;
  font-size: 16px;
  padding: $inset-space;
  /*<!--transition: all linear $duration-button;-->*/

  &:hover {
    background-color: lighten($color-primary, 5%);
    transform: scale(1.05);
  }
}

a {
  text-underline: none;
  font-weight: normal;
  color: $color-primary;
  text-decoration: none;
  border-radius: $border-radius-1;
  box-shadow: none;
  font-size: 16px;
  transition: all ease-in-out 50ms;

  &:hover {
    color: #9c3f66;
  }

  &:active {
    color: #9c307a;
  }
}
