$color-primary: #9c3f5e;
$color-background-dark-1: #18191d;
$color-background-dark-2: #2e2833;
$color-black: #000;
$color-white: #fff;
$duration-button: 130ms;
$border-radius-1: 25px;

html {
  font-size: 16px;
}

body {
  background-color: $color-background-dark-1;
}

$font-family-roboto: 'Roboto', sans-serif;
$font-family-lato: 'Lato', sans-serif;



@mixin make-font-body() {
  font-family: $font-family-roboto;
  font-size: 1rem;
}

@mixin make-primary-button($stack-space: 0.75em 0.5em, $inset-space: 0.25em 2em) {
  text-underline: none;
  font-weight: normal;
  color: $color-white;
  text-decoration: none;
  display: inline-block;
  margin: $stack-space;
  background-color: $color-primary;
  border-radius: $border-radius-1;
  box-shadow: none;
  font-size: 16px;
  padding: $inset-space;
  /*<!--transition: all linear $duration-button;-->*/

  &:hover {
    background-color: lighten($color-primary, 5%);
    transform: scale(1.05);
  }
}

